.contact-container {
  width: 100%;
  height: 100vh;
  background: $blue;
  z-index: 1;
  @include AlignChild(column, center, center);
  position: relative;
  @media screen and (max-width: 1000px) {
    height: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: $blue;
    filter: brightness(0.85);
    top: 50px;
    right: 50px;
    z-index: -1;
    animation: circleGrow 30s ease-in infinite;

    @media screen and (min-width: 1400px) {
      width: 800px;
      height: 800px;
    }

    @media screen and (max-width: 700px) {
      width: 400px;
      height: 400px;
    }

    @media screen and (max-width: 500px) {
      width: 320px;
      height: 320px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: $blue;
    filter: brightness(0.9);
    bottom: 25px;
    left: 50px;
    z-index: -1;
    animation: circleGrow 20s ease-in infinite;

    @media screen and (min-width: 1400px) {
      width: 650px;
      height: 650px;
    }

    @media screen and (max-width: 500px) {
      width: 250px;
      height: 250px;
      bottom: 45%;
    }
  }

  @keyframes circleGrow {
    0% {
      transform: scale(0.7);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(0.7);
    }
  }

  .footer-container {
    display: none;
    @media screen and (max-width: 1000px) {
      display: flex;
      width: 100%;
    }
  }

  .contact {
    display: flex;
    margin-top: 70px;
    width: 100%;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 150px;
    }

    .contact-form {
      flex: 1;
      display: flex;
      padding-left: 100px;
      padding-right: 130px;
      width: 100%;
      font-family: $fontR;
      position: relative;
      @media screen and (max-width: 1000px) {
        width: 50%;
        padding-right: 0;
        padding-left: 0;
      }
      @media screen and (max-width: 700px) {
        width: 80%;
      }
      @media screen and (max-width: 500px) {
        width: 90%;
      }


      .form {
        display: grid;
        grid-template-areas: " a b" "c c" "d d"  "f f" "g e";
        align-items: center;
        justify-content: center;
        width: 100%;
        @media screen and (max-width: 1000px) {
          grid-template-areas: " a b" "c d"  "f f" "g e";
        }
        .input {
          input {
            background: whitesmoke;
            box-shadow: 0 2px 2px 0  whitesmoke;
            border: none;
            outline: none;
            padding: 5px;
            font-size: 1.3rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 8px;
            margin: 10px 0;
            width: 100%;
            color: black;
            &::placeholder {
              color: rgb(68, 68, 68);
            }
          }

          &:nth-child(1) {
            grid-area: a;
            margin-right: 10px;
          }

          &:nth-child(2) {
            grid-area: b;
            margin-left: 10px;
          }
          &:nth-child(3) {
            grid-area: c;
            @media screen and (max-width: 1000px) {
              margin-right: 10px;
              margin-top: 15px;
            }
          }
          &:nth-child(4) {
            grid-area: d;
            @media screen and (max-width: 1000px) {
              margin-left: 10px;
              margin-top: 15px;
            }
          }
        }

        textarea {
          background: whitesmoke;
          box-shadow: 0 2px 2px 0 whitesmoke;
          border: none;
          border: 1px solid rgba(0, 0, 0, 0.3);
          border-radius: 15px;
          outline: none;
          width: 100%;
          height: 100px;
          padding: 5px;
          font-size: 1.3rem;
          margin-top: 10px;
          grid-area: f;
          resize: none;
          color: rgb(0, 0, 0);

          &::placeholder {
            color: rgb(68, 68, 68);
            text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);

            @media screen and (max-width: 1000px) {
              color: rgba(255, 255, 255, 0.85);
              text-shadow: none;
            }
          }

          @media screen and (max-width: 1000px) {
            height: 150px;
          }

          @media screen and (max-width: 1000px) {
            border-bottom: 1px solid rgb(255, 255, 255);
            color: white;
          }
        }

        .stay-content {
          grid-area: e;
          @include AlignChild(row, center, center);

          .stay-container {
            position: relative;
            width: 100%;

            .text-visible {
              width: 100%;
            padding: 10px 20px;
              background: rgb(197, 197, 197);
              border-radius: 35px;
              text-align: center;
              position: relative;
              margin-top: 25px;
              font-size: 0.9rem;
              @media screen and (max-width : 450px) {
                font-size: 0.7rem;
                padding: 10px;
              }
              @media screen and (max-width : 400px) {
                padding: 5px;
              }
            }

            .stay {
              position: absolute;
              visibility: hidden;
              opacity: 0;
              z-index: 5;
              right: -100%;
              bottom: 100%;
              padding: 10px;
              width: 300px;
              background: rgb(245, 245, 245);
              border-radius: 80px;
              @include AlignChild(column, center, center);
              @media screen and (max-width: 1000px) {
                right: 0;
                top: 90%;
                border-radius: 40px;
                padding: 0;
                height: 140px;
                width: 100%;
              }

              &::before {
                position: absolute;
                content: "";
                background: rgb(245, 245, 245);
                width: 150px;
                height: 150px;
                bottom: -6px;
                left: 25px;
                border-radius: 100% 0% 100% 0% / 100% 58% 42% 2%;
                z-index: -1;
                @media screen and (max-width: 1000px) {
                  display: none;
                }
              }
              &::after {
                position: absolute;
                content: "";
                background: rgb(245, 245, 245);
                width: 100px;
                height: 100px;
                bottom: 5px;
                left: 15px;
                border-radius: 50% 50% 50% 40%;
                z-index: -1;
                @media screen and (max-width: 1000px) {
                  display: none;
                }
              }

              .stay-date,
              .btn-date {
                opacity: 0;
              }
              .btn-date {
                button {
                  @media screen and (max-width: 1000px) {
                    font-size: 0.9rem;
                  }
                }
              }
              .stay-date {
                @include AlignChild(column, start, center);
                font-size: 1.2rem;
                @media screen and (max-width: 1000px) {
                  font-size: 0.9rem;
                }
                .date-content {
                  @include AlignChild(row, center, center);
                  gap: 15px;
                  margin: 5px 0 10px;
                  color: rgb(77, 77, 77);
                }

                .stay-price {
                  @include AlignChild(row, center, center);
                  gap: 5px;
                  p {
                    &:last-child {
                      color: rgb(77, 77, 77);
                    }
                  }
                }
                .stay-people {
                  @include AlignChild(row, center, center);
                  gap: 5px;
                  margin-bottom: 15px;
                  p {
                    &:last-child {
                      color: rgb(77, 77, 77);
                    }
                  }
                }
              }

              .anim-info-visible-text {
                opacity: 1;
                transition: 0.25s ease-out;
                transition-delay: 0.15s;
              }

              .anim-info-hidden-text {
                opacity: 0;
                transition: 0.15s ease-out;
              }
            }

            .anim-info-visible {
              visibility: visible;
              opacity: 1;
              transition: 0.15s ease-out;
            }

            .anim-info-hidden {
              visibility: hidden;
              opacity: 0;
              transition: 0.15s ease-in;
              transition-delay: 0.15s;
            }
          }
        }
        .btn {
          grid-area: g;
          @include AlignChild(row, center, center);
          margin-top: 25px;

          button {
            font-size: 1.3rem;
            border-radius: 50px;
            padding: 15px 20px;
          }
        }
      }
    }
    .contact-text {
      flex: 1;
      display: grid;
      justify-content: center;
      align-content: center;
      padding-right: 100px;
      width: 100%;
      margin-bottom: 100px;
      text-align: center;
      font-family: $fontR;
      @media screen and (max-width: 1100px) {
        padding-right: 50px;
      }
      @media screen and (max-width: 1000px) {
        width: 50%;
        padding-right: 0;
        margin: 100px 0;
      }
      @media screen and (max-width: 700px) {
        width: 80%;
      }
      @media screen and (max-width: 500px) {
        width: 90%;
      }
      h1 {
        font-family: $fontTR;
        font-size: 3.5rem;
        text-align: center;
        letter-spacing: 3px;
        margin-bottom: 35px;
        color: whitesmoke;
        @media screen and (max-width: 1100px) {
          font-size: 3rem;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        line-height: 20px;
        font-size: 1.1rem;
        color: rgb(255, 255, 255);
        @media screen and (max-width: 1100px) {
          font-size: 1rem;
        }
        @media screen and (max-width: 500px) {
          font-size: 0.9rem;
        }
      }
    }
  }
  .info-legal {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 500px;
    gap: 15px;
    @include AlignChild(row, space-between, center);
    font-family: $fontR;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.8);

    li {
      transition: 0.25s ease-in-out;

      &:hover {
        transform: scale(1.05) translate(5px, -2px);
      }
    }
  }
  .signature {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    font-family: $fontTR;
    letter-spacing: 1px;
    opacity: 0.8;
    font-size: 0.9rem;
    color: gray;
    @media screen and (max-width: 1150px) {
      left: 20px;
      transform: none;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}
