.contact-container {
  background: url("./../../assets/img/sea-night.jpeg") center/cover;
  width: 100%;
  height: 100vh;
  @include AlignChild(column, center, center);
  position: relative;
  @media screen and (max-width: 850px) {
    height: 100%;
  }

  .contact {
    width: 100%;
    height: 90%;
    @include AlignChild(row-reverse, center, center);
    font-family: $fontR;
    @media screen and (min-height: 750px) {
      flex-direction: column-reverse;
            gap: 20px;
                width: 80%;
                height: 100%;
                padding: 100px;
    }
    @media screen and (max-width: 1100px) {
      width: 70%;
    }
    @media screen and (max-width: 1000px) {
      width: 80%;
    }
    @media screen and (max-width: 850px) {
      flex-direction: column-reverse;
      gap: 20px;
      width: 80%;
      height: 100%;
      padding: 100px;
    }
    @media screen and (max-width: 700px) {
      flex-direction: column-reverse;
      gap: 20px;
      width: 70%;
      height: 100%;
      padding: 100px 30px 100px;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
      gap: 20px;
      width: 80%;
      height: 100%;
      padding: 100px 30px 100px;
    }
    @media screen and (max-width: 500px) {
      flex-direction: column-reverse;
      gap: 20px;
      width: 100%;
      height: 100%;
      padding: 100px 20px 100px;
    }

    .contact-form {
      height: 100%;
      width: 100%;
      border-radius: 15px;
      background: rgba(0, 0, 0, 0.2);
      // backdrop-filter: blur(1px);
      box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
      flex: 1;
      @media screen and (max-width: 850px) {
          width: 90%;
          padding: 0 0 10px;
        }
        @media screen and (max-width: 500px) {
      width: 95%;
    }

      .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b" "c d" "e e" "f f" "g g";
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 5px 22px;
        @media screen and (max-width:850px) {
            gap: 25px;
        }

        .input {
          @include AlignChild(row, center, center);
          padding: 10px;
          input {
            &::placeholder {
              color: rgba(216, 216, 216, 0.6);
            }
            padding: 10px;
            display: inline-block;
            width: 100%;
            border: none;
            border-bottom: 1px solid white;
            background: transparent;
            outline: none;
            color: white;
            font-size: 0.9rem;
          }
        }

        textarea {
          font-family: $fontR;
          font-weight: 600;
          grid-area: e;
          outline: none;
          border: none;
          background: transparent;
          border: 1px solid rgb(255, 255, 255);
          padding: 10px;
          border-radius: 5px;
          resize: none;
          height: 100px;
          min-width: 100%;
          color: rgb(240, 240, 240);
          letter-spacing: 1px;
        }

        .stay-container {
          grid-area: f;
          color: white;
          background: #0e0e31;
          border-radius: 10px;
          .text-visible {
            position: relative;
            padding: 8px;
            width: 100%;
            cursor: pointer;
            &.croix {
              &::before {
                transform: rotate(0);
                transition: 0.5s ease;
              }
              &::after {
                opacity: 0;
                transition: 1s ease;
              }
            }
            &::before {
              content: "";
              position: absolute;
              width: 15px;
              height: 2px;
              background: white;
              right: 20px;
              border-radius: 150px;
              top: 50%;
              transform: translateY(-50%) rotate(90deg);
              transition: 0.5s ease;
            }
            &::after {
              content: "";
              position: absolute;
              width: 15px;
              height: 2px;
              background: white;
              right: 20px;
              border-radius: 150px;
              top: 50%;
              transform: translateY(-50%) rotate(0deg);
              transition: 0.5s ease;
            }
          }
        }

        .stay {
          font-size: 0.8rem;
          background: #0d0d31;
          border-radius: 10px;
          gap: 10px;
          width: 100%;
          @include AlignChild(row, center, space-between);
          position: relative;

          @media screen and (max-width: 1250px) {
            display: grid;
            grid-template-areas: "a b " "c c";
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content: space-evenly;
            gap: 8px;
          }

          &::before {
            content: "";
            position: absolute;
            width: 90%;
            height: 1px;
            top: -4px;
            left: 50%;
            transform: translateX(-50%);
            border-top: 3px dashed #877f9c2f;
          }

          .btn-date {
            @media screen and (max-width: 1250px) {
              @include AlignChild(row, center, flex-end);
              grid-area: c;
            }
            button {
              font-size: 0.7rem;
              padding: 12px 10px;
              border-radius: 10px;
            }
          }
          .date-content {
            @include AlignChild(row, center, center);
            gap: 8px;
            @media screen and (max-width: 1250px) {
              grid-area: b;
            }
          }
        }
        .btn {
          grid-area: g;
          @include AlignChild(row, center, center);
          button {
            background: $green1;
          }
        }
      }
    }
    .contact-text {
      padding: 20px 20px 10px;
      flex: 1;
      height: 90%;
      width: 90%;

            border-radius: 15px;
              background: rgba(0, 0, 0, 0.2);
              // backdrop-filter: blur(1px);
              box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.2);
      @include AlignChild(column, center, space-between);
      text-align: center;
      @media screen and (max-width:850px) {
            border-radius: 15px;
            gap: 30px;
            width: 100%;
            height: 100%;
            padding: 30px 20px 30px;
        }
        @media screen and (min-width:750px) and (max-width:1000px) {
            border-radius: 15px;
            gap: 30px;
            width: 100%;
            height: 100%;
            padding: 30px 20px 30px;
        }
      h1,
      h2 {
        font-family: $fontTR;
        letter-spacing: 5px;
        color: white;
        @media screen and (max-width: 1150px) {
          font-size: 1.2rem;
        }
        @media screen and (max-width: 850px) {
          font-size: 1.5rem;
        }
        @media screen and (max-width: 700px) {
          font-size: 1.2rem;
        }
      }
      h2 {
        margin-top: 15px;
        span {
          color: $cream;
          letter-spacing: 2px;
          display: inline-block;
          transform: scale(1.1);
          margin-left: 5px;
        }
      }
      .text {
        text-align: left;
        line-height: 20px;
        letter-spacing: 0.25px;
        font-size: 0.9rem;
        font-family: $fontR;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin: 15px 0 10px;
        color: rgb(228, 228, 228);
        @media screen and (max-width: 1150px) {
          font-size: 0.8rem;
          line-height: 18px;
        }
        @media screen and (max-width: 1000px) {
          font-size: 0.7rem;
          gap: 10px;
        }
        @media screen and (max-width: 850px) {
          font-size: 0.9rem;
          line-height: 22px;
          text-align: center;
        }
        @media screen and (max-width: 850px) {
          font-size: 0.9rem;
        }
      }
      .info-legal {
        @include AlignChild(row, center, center);
        gap: 25px;
        @media screen and (max-width: 850px) {
          display: none;
        }
        li {
          color: rgba(219, 219, 219, 0.7);
          font-size: 0.7rem;
          transition: 0.25s ease-in-out;
          cursor: pointer;
          @media screen and (max-width: 1150px) {
            font-size: 0.6rem;
          }
          &:hover {
            color: $cream;
            transform: translate(3px, -4px) scale(1.05);
          }
        }
      }
    }
  }
  .signature {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(175, 175, 175);
    font-family: $fontTR;
    font-size: 1rem;
    letter-spacing: 3px;
  }
  .footer-container {
      display: none;
    @media screen and (max-width:850px) {
            display: block;
            width: 100%;
        }
  }
}
