.legal-section{
    background: $blue;
    color: $white;
    font-family: $fontR;
    h1{
        color: $cream;
        font-size: 3rem;
        text-align: center;
    }
    h4{
        color: $cream;
        font-size: 1.5rem;
        font-family: $fontR;
        margin-bottom: 10px;
    }
    h6{
        font-size: 1rem;
    }

    .text-content{
        padding: 150px 15%  250px 15%;

        .content {
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-top: 80px;
            font-size: 0.9rem;

            li {
                list-style-type: circle;
            }

            .text{
                line-height: 25px;

            }
        }
    }
}