.message-success-container {
  @include AlignChild(row, center, center);
  position: relative;
  background: url("../../assets/img/watercolor_background.jpg") center/cover;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  @media screen and (max-width: 600px) {
    background: url("../../assets/img/rm245-bb-03-e.jpg") center/cover;
  }

  .message-success {
    z-index: 2;
    width: 65%;
    height: 90%;
    border-radius: 67% 33% 90% 30% / 29% 75% 25% 71%;
    box-shadow:  15px -15px 30px #00000010,   -15px 15px 30px #00000065;
    color: black;
    padding: 30px 50px 30px 50px;
    @include AlignChild(column, center, space-between);
    font-family: $fontR;
    @media screen and (max-width: 900px) {
      width: 80%;
    }
    @media screen and (max-width: 700px) {
      width: 90%;
    }
    @media screen and (max-width: 600px) {
      padding: 40px 20px;
      border-radius:85% 15% 76% 24% / 24% 70% 30% 76%;
      width: 95%;
    }

    .titles {
      @include AlignChild(column, center, center);
      gap: 15px;
      text-shadow: 0 3px 15px rgba(255, 255, 255, 0.4);
      text-align: center;
      h1 {
        font-family: $fontTR;
        letter-spacing: 3px;
        font-size: 3rem;
        @media screen and (max-width: 1100px) {
          font-size: 2.5rem;
        }
        @media screen and (max-width: 500px) {
          font-size: 2rem;
        }
      }
      h3 {
        font-size: 1.5rem;
        @media screen and (max-width: 1100px) {
          font-size: 1.1rem;
        }
        @media screen and (max-width: 600px) {
          font-size: 1rem;
          margin-right: 5px;
        }
      }
    }
    .home {
      button {
        background: red;
        font-size: 1.5rem;
        padding: 10px 20px;
        li {
          color: white;
        }
      }
    }

    .pub {
      cursor: not-allowed;
      text-align: center;
      background: whitesmoke;
      @include AlignChild(column, center, center);
      gap: 10px;
      color: rgb(0, 0, 0);
      backdrop-filter: blur(1px);
      border-radius: 30px;
      padding: 30px;
      text-shadow: 0 3px 15px rgb(223, 223, 223);
      box-shadow: 0 5px 0 5px rgb(221, 221, 221);
      font-size: 1.2rem;
      width: 95%;
      @media screen and (max-width: 1100px) {
        font-size: 1.1rem;
      }
      @media screen and (max-width: 900px) {
        font-size: 1rem;
        padding: 30px 10px;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.9rem;
      }
      @media screen and (max-width: 600px) {
        width: 90%;
      }
      .pub-text {
        line-height: 23px;
      }
      a {
        color: rgb(32, 32, 32);
      }
      .pub-link {
        padding: 10px;
        a {
          text-decoration: underline;
        }
      }
    }
  }

  .ball {
    display: inline-block;
    border-radius: 100%;
    position: absolute;
    bottom: 50%;
    background: radial-gradient(
      circle at bottom,
      #81e8f6,
      #76deef 10%,
      #055194 80%,
      #062745 100%
    );
    animation: toTop 4s forwards;
    
        @keyframes toTop {
            0% {
                bottom: -50%;
            }
    
            100% {
                bottom: 100%;
            }
        }
  }
  .ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(
      circle at top,
      white,
      rgba(255, 255, 255, 0) 58%
    );
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 1;
    animation: toTop 4s forwards;

  }
  .ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 1;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    animation: toTop 4s forwards;
    
  }
  .ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 0) 50%
    );
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1;
  }
  .ball.plain {
    background: black;
  }
  .ball.plain:before,
  .ball.plain:after {
    display: none;
  }
  .ball.bubble {
    background: radial-gradient(
      circle at 50% 55%,
      rgba(240, 245, 255, 0.9),
      rgba(240, 245, 255, 0.9) 40%,
      rgba(225, 238, 255, 0.8) 60%,
      rgba(43, 130, 255, 0.4)
    );
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite;
    animation: toTop 4s forwards;
    
  }
  .ball.bubble:before {
    -webkit-filter: blur(0);
    filter: blur(0);
    height: 80%;
    width: 40%;
    background: radial-gradient(
      circle at 130% 130%,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0) 46%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0.8) 58%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0) 100%
    );
    -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg)
      rotateX(10deg);
    transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  }
  .ball.bubble:after {
    display: block;
    background: radial-gradient(
      circle at 50% 80%,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 74%,
      white 80%,
      white 84%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  .stage {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 20px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
  }
  body {
    width: 300px;
    margin: 20px auto;
    background: linear-gradient(
      to bottom,
      rgba(100, 100, 100, 0.2) 0%,
      rgba(255, 255, 255, 0.5) 40%,
      #ffffff 100%
    );
    background-repeat: no-repeat;
  }

  @-webkit-keyframes bubble-anim {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    20% {
      -webkit-transform: scaleY(0.95) scaleX(1.05);
      transform: scaleY(0.95) scaleX(1.05);
    }

    48% {
      -webkit-transform: scaleY(1.1) scaleX(0.9);
      transform: scaleY(1.1) scaleX(0.9);
    }

    68% {
      -webkit-transform: scaleY(0.98) scaleX(1.02);
      transform: scaleY(0.98) scaleX(1.02);
    }

    80% {
      -webkit-transform: scaleY(1.02) scaleX(0.98);
      transform: scaleY(1.02) scaleX(0.98);
    }

    97%,
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

  @keyframes bubble-anim {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

    20% {
      -webkit-transform: scaleY(0.95) scaleX(1.05);
      transform: scaleY(0.95) scaleX(1.05);
    }

    48% {
      -webkit-transform: scaleY(1.1) scaleX(0.9);
      transform: scaleY(1.1) scaleX(0.9);
    }

    68% {
      -webkit-transform: scaleY(0.98) scaleX(1.02);
      transform: scaleY(0.98) scaleX(1.02);
    }

    80% {
      -webkit-transform: scaleY(1.02) scaleX(0.98);
      transform: scaleY(1.02) scaleX(0.98);
    }

    97%,
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
