.page3-container {
    height: 100%;
    width: 100%;
    padding: 100px 10px;
    background: $blue;
    @include AlignChild(column,center,center);
    position: relative;
    cursor: default;
    user-select: none;

    h2{
        text-align: center;
        color: white;
        font-family: $fontTR;
        font-size: 2.2rem;
        letter-spacing: 5px;
    }
    .activities-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 0 30px;
        margin-top: 200px;
        width: 100%;

        .activity{
            position: relative;
            .image{
                width: 250px;
                height: 300px;
                position: relative;
                border-radius: 35px;
                transition: 0.5s ease-in-out;
                z-index: 1;
                &:hover{
                    overflow: hidden;
                }
                &:hover img{
                    scale: 1.2;
                }               

    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 35px;
                    box-shadow: 0 5px 30px rgba(255, 255, 255, 0.2);
                    transition: 0.5s ease-in-out;
                    
                }
            }
            &:nth-child(1){
                .image{
                    left: 40px;
                    bottom: 50px;
                    transform: rotate(-10deg);
                }
            }
            &:nth-child(2){
                .image{
                    left: 20px;
                    top: 60px;
                    transform: rotate(5deg);
                }
            }
            &:nth-child(3){
                .image{
                    left: 40px;
                    bottom: 20px;
                    transform: rotate(10deg);
                }
            }
            .link{
                position: absolute;
                @include AlignChild(row,center,center);
                font-family: $fontR;
                font-size: 1.5rem;
                color: black;
                background: rgb(231, 228, 228);
                padding: 10px;
                width: 200px;
                height: 200px;
                border-radius: 50%;
                text-align: center;
                cursor: pointer;

            }
             &:nth-child(1){
                .link{
                    bottom: -120px;
                    left: 50px;
                }
            }
            &:nth-child(2){
                .link{
                    top: -120px;
                    left: 80px;
                }
            }
            &:nth-child(3){
                .link{
                    bottom: -150px;
                    left: 50px;
                }
            }
        }
    }
    button{
        margin: 150px 0 0 ;
        font-size: 1.5rem;
        background: $green2;
        padding: 25px 20px;
    }
}