.footer{
    background: #000;
    text-align: center;
    padding: 90px 30px 30px;
    cursor: default;
    .footer-content{
        display: grid;
        grid-template-columns: 25% 50% 25% ;
        margin-bottom: 50px;
        .signature{
            font-family: $font2;
            .title{
                @include AlignChild(row,center,center);
                h2{
                    font-family: $fontM;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.568);
                    padding-bottom: 10px;
                    margin-bottom: 25px;
                }
            }
            p{
                color: rgba(230, 225, 225, 0.897);
                
            }
            .slogan{
                margin-top: 10px;
                filter: brightness(0.6);
            }
            span{
                color: white;
            }
            button{
                margin: 25px 0;
                font-size: 0.9rem;
            }
        }
        .contact{
            display: grid;
            grid-template-areas: "a b" "c d" "c f";
            align-items: center;
            justify-content: center;
            gap: 40px;
            border-left: 2px solid rgba(255, 255, 255, 0.7);
            border-right: 2px solid rgba(255, 255, 255, 0.7);

            input[type="text"],input[type="email"]{
                border: none;
                background: transparent;
                border-bottom: 1px solid $white;
                padding: 10px 10px 15px;
                transition: 0.3s ease;
                outline: none;
                color: $white;
                &:nth-child(1){
                    grid-area: b;
                }
                &:nth-child(2){
                    grid-area: a;
                }
                &:hover{
                    background: rgba(110, 105, 105, 0.2);
                    border-radius: 15px;
                }
            }
            textarea{
                grid-area: c;
                border: none;
                background: transparent;
                border-bottom: 1px solid $white;
                padding: 10px 10px 15px;
                outline: none;
                transition: 0.3s ease;
                color: $white;

                &:hover{
                    background: rgba(110, 105, 105, 0.2);
                    border-radius: 15px
                }
            }
            input[type="submit"]{
                background: $green2;
                grid-area: f
            }
        }
        .footer-infos{
            ul{
                @include AlignChild(column,center,center);
                gap: 10px;
                li:last-child{
                    margin-top: 10px;
                }
                a{
                    color: $white;
                    filter: brightness(0.7);
                    font-family: $font1;
                }
            }
        }
    }
    .bottom-text{
        width: 100%;
        @include AlignChild(row,center,center);
        margin-top: 80px;

        p{
            font-family: $fontM;
            font-size: 0.8rem;
            display: inline-block;
            position: relative;
            padding: 0 20px;
            &::after{
                content: "";
                position: absolute;
                width: 40vw;
                height: 1px;
                background: $white;
                right: 100%;
                top: 50%;
            }
            &::before{
                content: "";
                position: absolute;
                width: 40vw;
                height: 1px;
                background: $white;
                left: 100%;
                top: 50%;
            }
        }
    }   
}   