.navigation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $blue;
  z-index: -1;

  .navigation-menu{
    position: absolute;
    transform: translate(-50%,0);
    top: 8%;
    left: 53%;
    display: flex;
    width: 800px;
    max-width: 800px;
    flex-wrap: wrap;

    .menu{
      position: relative;
    }

    h2{
      transform: translate(-50%, -50%);
      position: absolute;
      color: $white;
      font-family: $fontTR;
      font-weight: 100;
      font-size: 2.5rem;
      letter-spacing: 3px;
    }
    img {
      transform: rotate(180deg) translate(50%, 50%);
      width: 50px;
      height: 50px;
      opacity: 0.7;
      position: absolute;
    }

    .menu:nth-child(1){
      width: 350px;
      height: 180px;
      background: #485A4F;
      border-radius: 100px ;
      position: relative;
      left: 25px;

      h2{
        top: 50%;
        left: 30%;
      }
      img{
        top: 50%;
        left: 75%;
      }
    }
    .menu:nth-child(2){
      width: 350px;
      height: 120px;
      background: #0A436C;
      border-radius: 20px ;
      position: relative;
      transform: rotate(20deg);

      h2{
        top: 50%;
        left: 45%;
      }
      img{
        top: 50%;
        left: 85%;
      }
    }
    .menu:nth-child(3){
      width: 300px;
      height: 300px;
      background: #FF9E2C;
      border-radius: 50% ;
      position: relative;
      transform: rotate(-30deg);
      top: 10px;
      left: 50px;

      h2{
        top: 15%;
        left: 50%;
      }
      img{
        top: 85%;
        left: 50%;
      }
    }
    .menu:nth-child(4){
      width: 280px;
      height: 320px;
      background: #DE554E;
      border-radius: 30px 50% 30px 30px ;
      position: relative;
      bottom: 45px;
      left: 30px;

      h2{
        top: 85%;
        left: 35%;
      }
      img{
        top: 85%;
        left: 85%;
      }
    }
  }
}
