.page4{
    width: 100%;
    padding: 100px 20px 40px;
    cursor: default;

    .notice-reservation-container{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 0.95fr 1.05fr;
        gap: 10px;
        .container{
            padding: 40px;
            transition: 0.25s ease-in;
            &:hover{
                box-shadow:  0 0 25px rgba(255, 255, 255, 0.05);
                border-radius: 50px;
                transform: scale(1.05);
            }
        }

        h2{
            font-family: $fontM;
            margin-bottom: 50px;
            text-align: center;
        }

        .notice-container{
            text-align: center;

            .notices{
                background: $cream;
                border-radius: 30px;
                padding: 0 0 10px;
                color: $black;
                position: relative;
                .left{
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateX(-50%);
                    font-size: 2rem;
                    color: $white;
                    z-index: 100;
                    cursor: pointer;
                }
                .right{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateX(50%);
                    font-size: 2rem;
                    color: $white;
                    z-index: 100;
                    cursor: pointer;
                }

                .notice{
                    position: relative;
                    img{
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        position: absolute;
                        top:0;
                        transform: translate(-50% , -50%);
                    }
                    h4{
                        padding-top: 50px;
                        font-family: $fontM;
                        text-transform: uppercase;
                    }
                    .notice-text{
                        margin: 15px 10px;
                        padding: 20px 10px 20px;
                        font-family: $font1;
                        border: 2px dashed rgba(0, 0, 0, 0.219);
                        border-radius: 30px;
                    }
                }
            }
        }
        .reservation-container{

            .reservation{
                display: grid;
                grid-template-areas: "a b" "c e" " d e" "f f" "g g";
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-content: center;
                font-family: $font2;

                >div{
                    @include AlignChild(column,center,center);
                }

                .date{
                    width: 150px;
                    border: none;
                    background: $green1;
                    color: $white;
                    padding: 10px;
                    border-radius: 15px;
                    cursor: pointer;
                    outline: none;
                    transition: 0.25s ease;
                    margin: 0 auto 15px;
                    font-size: 1rem;

                    &:focus{
                        filter: brightness(0.85);
                        border-radius: 25px;
                        transform: scale(1.1);
                    }
                }
                .arrival{
                    grid-area: a;
                }
                .departure{
                    grid-area: b;
                }
                .nb-adult{
                    grid-area: c;
                }
                .nb-children{
                    grid-area: d;
                    margin: 10px 0 20px;
                }
                .prix{
                    grid-area: e;
                    text-align: center;
                    p{
                        width: 80%;
                        line-height: 20px;
                        letter-spacing: 1px;
                        filter: brightness(0.9);
                        span{
                            color: $cream;
                        }
                    }
                }
                .alert-input{
                    grid-area: f;
                    text-align: center;
                    color: rgb(226, 16, 16);
                    text-shadow:  0 1px 3px rgba(255, 255, 255, 0.295);
                    display: none;
                    animation: alert 1.5s ease-in-out infinite;

                    @keyframes alert {
                        0%{
                            transform: translateY(-10px) scale(1.05);
                        }
                        50%{
                            transform: none;
                        }
                        100%{
                            transform: translateY(-10px) scale(1.05);
                        }
                    }
                }
                .btn-submit{
                    grid-area: g;
                    margin-top: 20px;
                    input{
                        background: red ;
                    }
                }
            }
        }
    }
}