.reservation{
  .calendrier-reservation{
   position: absolute;
  }

  .reservation-container {
      position: fixed;
      bottom: 50px;
      width: 80px;
      height: 60px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 30px;
      z-index: 10;
  
      &:hover .reservation-is-not-hover {
        opacity: 0;
        visibility: hidden;
      }
  
      .reservation-is-not-hover {
        position: absolute;
        transition: .25s ease-in-out;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
  
        img {
          width: 40px;
        }
      }
  
      .reservation {
        visibility: hidden;
        opacity: 0;
        display: grid;
        position: relative;
        grid-template-columns: 80% 20%;
        align-items: center;
        justify-content: center;
        gap: 5px;
        height: 100%;
  
        transition: .25s ease-in-out;
  
        &::before {
          position: absolute;
          content: "";
          height: 65%;
          width: 2px;
          background: white;
          top: 50%;
          left: 80%;
          transform: translate(-50%, -50%);
        }
  
        img {
          width: 30px;
        }
  
        .date {
          @include AlignChild(row, center, space-between);
          padding: 0 10px 0 20px;
          color: white;
          font-family: $fontR;
  
          .date-text {
            @include AlignChild(row, center, center);
            gap: 10px;
            @media screen and (max-width : 1150px) {
              font-size: 0.9rem;
            }
            @media screen and (max-width : 1000px) {
              font-size: 0.8rem;
            }
          }

          .text-personn-price{
            @include AlignChild(column, center,center);
            border-right: 1px solid rgba(255, 255, 255, 0.5);
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            padding: 0 25px;
            p{
              &:last-child{
                font-size: 1.05rem;
              }
            }
            @media screen and (max-width : 1150px) {
                font-size: 0.9rem;
                p {
                    &:last-child {
                      font-size: 1rem;
                    }
                  }
            }
            @media screen and (max-width : 1000px) {
                font-size: 0.8rem;
                p {
                    &:last-child {
                      font-size: 0.9rem;
                    }
                  }
            }
          } 
          button {
            margin-left: 0px;
            background: rgb(228, 228, 228);
            color: black;
            font-size: 1rem;
            padding: 12px 20px;
            border-radius: 50px;
            @media screen and (max-width : 1000px) {
                padding: 10px 15px ;
              }
          }
        }
  
        .reserve {
          @include AlignChild(row, center, center);
  
          button {
            background: white;
            color: black;
          }
        }
      }
    }
  
    .on-footer {
      animation: isOnFooter .25s ease-in forwards;
  
      @keyframes isOnFooter {
        0% {
          transform: translate(-50%, 0);
        }
  
        100% {
          transform: translate(-50%, 200%);
          visibility: hidden;
        }
      }
    }
  
    .not-on-footer {
      animation: isNotOnFooter .25s ease-out forwards;
  
      @keyframes isNotOnFooter {
        0% {
          transform: translate(-50%, 200%);
          visibility: hidden;
        }
  
        100% {
          transform: translate(-50%, 0);
          visibility: visible;
        }
      }
    }
}