.reservation-container{
  position: fixed;
  bottom: 50px;
  width: 80px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 30px;
  transition: .5s ease-in-out;
  &:hover{
    width: 60vw;
    border-radius: 80px;
  }
  &:hover .reservation-is-not-hover{
    opacity: 0;
    visibility: hidden;
  }

  .reservation-is-not-hover{
    position: absolute;
    transition: .25s ease-in-out;
    top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid white;

     &::before{
      position: absolute;
      content: "";
      bottom: 50%;
      left: 100%;
      transform: translate(0 , 100%) rotate(-45deg);
      width: 2px;
      height: 10px;
      border-radius: 30px;
      background: white;
    }
  }
  .reservation{
    visibility: visible;
    display: grid;
    position: relative;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;
    &::before{
      position: absolute;
      content: "";
      height: 65%;
      width: 2px;
      background: white;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
    }
    img{
      width: 30px;
    }

    .date-text{
      @include AlignChild(row,center,space-around)
    }
  }
}